@use 'variables' as v;

* {
  cursor: none;
}

body {
  background: v.$bg;
  padding-top: 70px;
  color: v.$black;
}

ul {
  margin: 0;
  padding: 0;
}

main {
  padding: 45px;
}

.content {
  width: 45%;
  padding: 400px 0;
  font-family: 'Noto Serif JP', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}
