@use '../../styles/variables' as v;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  cursor: pointer;

  .main_menu,
  .sub_menu {
    position: fixed;
    width: 100%;
    background: v.$bg;
    transition: top 0.3s ease-in-out;
  }

  .main_menu {
    z-index: 3;
  }
}

// .nav-up {
//   .main-menu {
//     top: -70px;
//   }
// }

// .nav-down {
//   .main-menu {
//     top: 0;
//   }
// }

.menu {
  display: flex;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}

.main_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    align-items: center;
  }

  li {
    padding-left: 20px;
    padding-right: 20px;

    &.active {
    }

    &.last {
      padding-right: 40px;
    }
  }

  .search {
    padding-left: 25px;
    padding-right: 25px;
  }

  .lang {
    padding-left: 40px;
    padding-right: 40px;
  }

  .border {
    border-left: v.$border;
  }
}

.sub_menu {
  .menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  li {
    &:not(:last-child) {
      border-right: v.$border;
    }
  }
}

nav {
  border-bottom: v.$border;
}

.logo {
  padding-left: 25px;
  padding-right: 25px;

  svg {
    height: 20px;
  }
}