$bg: #f1f0ec;
$black: #323232;
$border: 1px solid $black;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap");

body {
  background: $bg;
  padding-top: 70px;
  color: $black;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  cursor: pointer;

  .main-menu,
  .sub-menu {
    position: fixed;
    width: 100%;
    background: $bg;
    transition: top 0.3s ease-in-out;
  }

  .main-menu {
    z-index: 3;
  }
}

// .nav-up {
//   .main-menu {
//     top: -70px;
//   }
// }

// .nav-down {
//   .main-menu {
//     top: 0;
//   }
// }

.menu {
  display: flex;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    align-items: center;
  }

  li {
    padding-left: 20px;
    padding-right: 20px;

    &.active {
    }

    &.last {
      padding-right: 40px;
    }
  }

  .search {
    padding-left: 25px;
    padding-right: 25px;
  }

  .lang {
    padding-left: 40px;
    padding-right: 40px;
  }

  .border {
    border-left: $border;
  }
}

.sub-menu {
  .menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  li {
    &:not(:last-child) {
      border-right: $border;
    }
  }
}

nav {
  border-bottom: $border;
}

.logo {
  padding-left: 25px;
  padding-right: 25px;

  svg {
    height: 20px;
  }
}

main {
  padding: 45px;
}

.content {
  width: 45%;
  padding: 400px 0;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}
